<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getLookupSourceItems>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetLookupSourceItems.CodeDatasource, Sitecore.XA.Foundation.LocalDatasources']"
                   type="Sitecore.Support.XA.Foundation.LocalDatasources.Pipelines.GetLookupSourceItems.CodeDatasource, Sitecore.Support.12345"/>
      </getLookupSourceItems>
    </pipelines>
  </sitecore>
</configuration>